@import "../../../styles/colors.css";

.container-button {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.container-button p {
  border-color: var(--main-color);
  color: var(--main-color);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-top-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.container-button p:hover {
  color: white;
  background-color: var(--main-color);
}
