@import '../../styles/colors';

.center_image{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.h1_cus {
  color: var(--main-color);
  /* color: //#52796F; */
  color: 	#2038f2;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-top: 350px;
  width: 900px;
  text-shadow: 2px 2px #297358;
}
.center {
  left: 50%;
  transform: translateX(-50%);
}
.btn_cus {
  left: 50%;
  transform: translateX(-50%);
width: 300px !important;
height: 60px;
border-radius: 5px;
margin-top: 100px;
}
.div1_cus {
  margin-top: 400px;
}

.parent {
  height: auto;
}
.text_bold {
  font-weight: bold;
}
.bg_cover {
  background-size: cover;
  background-size: 50%;
}
.brightness {
  filter: brightness(0.25);
  background-color: black;
  opacity: 1.5;
}
.blue_btn {
  background-color: 	#2038f2 !important;
}
.green {
  color: #52796F;
}